@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Revolution&family=Voltaire&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    /* position: fixed; */
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(60deg, #C65BCF 10%, #874CCC 40%, #FB9AD1)
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
    font-size: 22px;
    font-weight: 700;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FB9AD1;

}

#welcome-section h1 {
    position: relative;
    font-size: 14vw;
    color: #FB9AD1;
    -webkit-text-stroke: 0.3vw #fb9ad1b7;
    text-transform: uppercase;

}

#welcome-section h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #874CCC;
    -webkit-text-stroke: 0vw #fb9ad1b7;
    border-right: 2px solid #874CCC;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}